<div class='d-flex flex-column align-item-center justify-content-center'>
  <h1>Welcome to ruby on rails</h1>
  
</div>
<div>
  <% if @user %>
      login in as: <%= @user.email %>
  <% end %>
</div>


<% if @user %>
  <%= button_to "logout", logout_path, class: "btn btn-info mt-2", method: :delete %>
<% end %>
