<h1>Registrations#new</h1>
<p>Find me in app/views/registrations/new.html.erb</p>
<h1>user: <%= @user %></h1>

<% # form %>

<div class="text-start">
  <% # render partial form page %>
  <%= render partial: "shared/form" %>
</div>
